
ul{
    background-color: rgb(38,70,83);
}
#purchase{
    background-color: rgb(231,111,81);
}

#header{
    background-color:rgb(38,70,83);
}
#hh{
    height: 4px;
   
    margin-left: 550px;
}
#clients{
    color: #E76F51;
}
#star{
    width: 60%;
    height: 30px;
}
margin-left: 25%;এএ

#svg{
    width: 40%;
    height: 300px;
}


